<template id="kpolicar_backendlock_mainmenu-items-extension">
    <li class="mainmenu-item mainmenu-preview mainmenu-lock"
        data-submenu-index="lock">
        <a
            data-request="onLockSession"
            data-request-confirm="<?= e(trans('kpolicar.backendlock::lang.menu.confirm')) ?>"
            data-request-success="$(this).parent().addClass('active');$('#kpolicar_backendlock_modal-login').modal()"
            href="#">
        <?php if (!isset($isVerticalMenu)): ?>
        data-tooltip-text="<?= e(trans('kpolicar.backendlock::lang.menu.item_tooltip')) ?>"
        <?php endif ?>
        >
        <span class="nav-icon">
            <i class="icon-lock">
            </i>
        </span>

        <?php if (isset($isVerticalMenu)): ?>
        <span class="nav-label">
            <?= e(trans('kpolicar.backendlock::lang.menu.item_tooltip')) ?>
        </span>
        <?php endif ?>
        </a>
    </li>
</template>

<template id="template_kpolicar_backendlock_modal-login">
    <div class="control-popup modal fade" id="kpolicar_backendlock_modal-login"
         tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <?= e(trans('kpolicar.backendlock::lang.modal.title')) ?>
                    </h4>
                </div>

                <div class="modal-body">
                    <?= $this->makeLayoutPartial('~/plugins/kpolicar/backendlock/layouts/_signin_form', ['attributes' => [
                        'data-request-success' => '$(".mainmenu-item.mainmenu-lock").removeClass("active")'
                    ]]); ?>
                </div>
            </div>
        </div>
</template>
