<?= Form::open(['class' => 'form-inline', 'data-request' => 'onUnlockSession'] + $vars['attributes']) ?>

<div class="form-elements" role="form">
    <div class="form-group text-field">
        <label for="kpolicar_backendlock_password-input">
            <?= e(trans('kpolicar.backendlock::lang.modal.label_password')) ?>
        </label>

        <div>
            <!-- Password -->
            <input
                type="password"
                name="password"
                value=""
                id="kpolicar_backendlock_password-input"
                class="form-control"
                autocomplete="off"
                maxlength="255" />

            <button type="submit"
                    class="btn btn-primary login-button">
                <?= e(trans('backend::lang.account.login')) ?>
            </button>
        </div>
    </div>
</div>

<?= Form::close() ?>
